<div class="mb-20">
    <p class="text-3xl font-black" style="font-family: Epilogue">My notes</p>
    <p class="text-lg italic font-medium">Here's a list of all your notes</p>
</div>
<div class="px-14">
    <table #table mat-table [dataSource]="data">
        <ng-container matColumnDef="actions" class="">
            <th mat-header-cell *matHeaderCellDef class="rounded-tl-lg w-[100px] pl-0"></th>
            <td mat-cell *matCellDef="let note" class="text-center">
                <button class="rounded-full hover:bg-secondary-gray/40 ease-in-out duration-300 p-1" (click)="editNote()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="rounded-full hover:bg-secondary-gray/40 ease-in-out duration-300 p-1" (click)="deleteNote(note.id)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef class="font-bold text-base text-pure-black w-auto">Title</th>
            <td mat-cell *matCellDef="let note"> {{note.title}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef class="font-bold text-base text-pure-black w-auto">Category</th>
            <td mat-cell *matCellDef="let note"> {{note.category}} </td>
        </ng-container>
        <ng-container matColumnDef="modifiedIn">
            <th mat-header-cell *matHeaderCellDef class="font-bold text-base text-pure-black rounded-tr-lg w-[150px]">Modified In</th>
            <td mat-cell *matCellDef="let note"> {{note.modifiedIn | date: 'dd/MM/YYYY'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="bg-secondary-gray"></tr>
        <tr mat-row *matRowDef="let note; columns: columnsToDisplay" [routerLink]="['/notes', note.id]" (click)="getNote(note)" class="hover:bg-secondary-gray/10 hover:cursor-pointer"></tr>
    </table>
    <div class="text-end mt-5">
        <button mat-raised-button (click)="addNote()" class="bg-main-blue text-main-white">+ New Note</button>
    </div>
</div>
<div class="mt-5">
    <span>
        {{result}}
    </span>
</div>