table {
    width: 100%;
}

.mat-column-actions {
    flex: 0 0 50px !important
}

.mat-column-title {
    flex: 0 0 200px !important
}

.mat-column-category {
    flex: 0 0 100px !important
}

.mat-column-modifiedIn {
    flex: 0 0 auto !important
}