<main >
  <!-- TODO: design fix -->
  <!-- SIDE BAR -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <img class="small-logo" src="../assets/images/simplenote-logo-full.png" alt="">
      <div class="">
        <button [routerLink]="['']" class="sidenav-icon-button">
          <mat-icon>home</mat-icon>
          Dashboard
        </button>
        <button [routerLink]="['/notes']" class="sidenav-icon-button">
          <mat-icon>note</mat-icon>
          Notes
        </button>
        <button [routerLink]="['/settings']" class="sidenav-icon-button">
          <mat-icon>settings</mat-icon>
          Settings
        </button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- TOOL BAR -->
      <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>

      <!-- Page content-->
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</main>


