<div class="flex justify-center content-center mt-40">
    <div class="flex flex-col justify-center items-start mr-32">
        <p class="font-black text-9xl">404</p>
        <p class="text-2xl">The page you are looking for could not be found</p>
    </div>
    <img src="../../../assets/images/error.png" alt="error" class="h-[150px] w-[150px]">
</div>
<div class="text-center mt-10">
    <button mat-raised-button class="bg-secondary-gray text-main-white" [routerLink]="['']">Go back <mat-icon>arrow_back</mat-icon></button>
</div>
